{% extends 'layout.twig' %}

{% block body %}
  <h1>{{ title }}</h1>
  <form action="/books/{{ livre._id }}/edit" method="post">
    <label for="titre">Titre:</label>
    <input type="text" id="titre" name="titre" value="{{ livre.titre }}" required>
    <label for="auteurs">Auteurs:</label>
    <input type="text" id="auteurs" name="auteurs" value="{{ livre.auteurs }}" required>
    <label for="ISBN">ISBN:</label>
    <input type="text" id="ISBN" name="ISBN" value="{{ livre.ISBN }}" required>
    <label for="categorie">Catégorie:</label>
    <input type="text" id="categorie" name="categorie" value="{{ livre.categorie }}" required>
    <label for="nombrePages">Nombre de pages:</label>
    <input type="number" id="nombrePages" name="nombrePages" value="{{ livre.nombrePages }}" required>
    <label for="statutLecture">Statut de lecture:</label>
    <input type="text" id="statutLecture" name="statutLecture" value="{{ livre.statutLecture }}" required>
    <label for="notesPersonnelles">Notes personnelles:</label>
    <textarea id="notesPersonnelles" name="notesPersonnelles">{{ livre.notesPersonnelles }}</textarea>
    <button type="submit">Modifier</button>
  </form>
{% endblock %}